/* Підключення шрифтів */

/* підключення через сайт  fonts.google.com/*/
/* manrope regular */
/* @import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
/* manrope semibold */
/* @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap");
/* manrope medium */
/* @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");
/* manrope bold */
/* @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");  

/* підключення через плагін GOOGLE в css import */
/* @import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700,800&display=swap");  */

@import url("https://fonts.googleapis.com/css?family=Epilogue:100,200,300,regular,500,600,700,800,900&display=swap");


@import url("https://fonts.googleapis.com/css?family=Comic+Neue:300,300italic,regular,italic,700,700italic&display=swap");

@import url("https://fonts.googleapis.com/css?family=Rubik+Bubbles:regular&display=swap");

@import url("https://fonts.googleapis.com/css?family=Doto&display=swap");



/* Підключення шрифтів локально */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

/* Основні стилі */
.wrapper{
min-height: 100%;
/* overflow: hidden; */
padding-block: 10px;
overflow: clip;

display: flex;
flex-direction: column;

}

.wrapper>main {
	flex-grow: 1;
}

.header {
		background-color: #28293E;
}

h1{
	font-size: 55px;
	font-weight: 700;
	text-shadow: 1px 1px 5px lightcoral;
	text-align: center;
	
	margin-bottom: 35px;
	font-family: 'Comic Neue', sans-serif;
} 

.subtitle{
	font-family: 'Rubik Bubbles' , serif;
	font-size: 35px;
	text-align: center;
	color: #fff;
}

/* .main-subtitle{
	margin-bottom: 25px;
} */

.portfolio{
	background-color: #28293E;
	text-align: center;
	font-family: 'Epilogue', sans-serif;
	font-size: 16px;
}
.portfolio__container{
	max-width: 1200px;
	padding: 15px;
	margin: 0 auto;
}

.label{
	text-transform: uppercase;

	line-height: 32px;
	letter-spacing: 3px;
	color: #EF6D58;
}
.label--margin{
		margin-bottom: 20px;
}

.label--left {
	text-align: left;
}
.label--quote{
	margin-bottom: 33px;
}

.main-title{
	text-transform: capitalize;
	font-size: 56px;
		font-style: normal;
		font-weight: 800;
		line-height: 64px;
		letter-spacing: -1px;
		color: #fff;
		
		
}

.main-title--margin{
	margin-bottom: 36px;
	/* padding-inline: 372px; */
}

.main-title--margin-events {
	
	max-width: 426px;
	margin: 0 auto;
	margin-bottom: 64px;

}


.main-title--left {
	text-align: left;
max-width: 531px;
	margin-bottom: 64px;
}






.menu {
	display: flex;
	justify-content: center;
	column-gap: 60px;
	row-gap: 15px;
	flex-wrap: wrap;
}

.menu--margin{
	margin-bottom: 68px;
}
.menu__item {
color:  rgba(255, 255, 255, 0.64);
line-height: 32px;
	transition: 0.5s;
}

.menu__item:hover{
	text-decoration: underline;
	transition: 0.5s;

}

.menu__item:first-child{
	color: #fff;
}
sup:first-child{
	color: rgba(255, 255, 255, 0.64);
}

/* блок з картками-зображенями */


.image-card--margin {
	margin-bottom: 192px;
}

.cards--margin{
	margin-bottom: 64px;
}


.cards {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.cards__item {
	flex-basis: 470px;
	min-height: 416px;
	position: relative;
	padding: 51px 48px;
	transition: 0.5s;
	display: flex;
align-items: flex-end;

}

.cards__item::after{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #5C2000;
	opacity: 0.3;
	transition: 0.35s;

}

.cards__item:hover::after {
/* visibility: hidden; */
	content: '';
		/* width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: #5C2000; */
		opacity: 0;

	}


.cards__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 6px;

}

.cards__item:nth-child(4n+2),
.cards__item:nth-child(4n+3) {
	flex-basis: 670px;
}

.cards__content {


position: relative;
	/* position: absolute; */
/* inset-inline-end: 48px;
inset-inline-start: 48px; */
/* bottom: 51px; */
text-align: left;
z-index: 2;
	
}

.content-label {
	padding: 5px 15px ;
	background-color: #fff;
	border-radius: 19px;
	display: inline-block;

	color: #391400;
	line-height: 32px;

}

.content-label--margin {
	margin-bottom: 23px;
	transition: 0.5s;
}
.content-label:hover {
	background-color: #19dbd153;
}

.content-title {
	color: #fff;
	font-size: 40px;
	font-weight: 800;
	line-height: 48px;
	width: fit-content;
	transition: 0.35s;

}

.content-title--upper {
	text-transform: uppercase;
}

.content-title:hover{
	text-shadow: 0 0 10px rgba(0, 213, 255, 0.8)
}


.button-dark{
	padding: 18px 30px;
	border-radius: 6px;
	border: solid 1px rgba(255, 255, 255, 0.30);
	color: #fff;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	transition: 0.3s;
}

.button-dark:hover{
	box-shadow:0 0 15px #fff;
	}

	/* Блок GET Started */

.get-started--margin {
	margin-bottom: 140px;
}

.get-started__container {
	/* min-height: 336px; */
	background-color:#FDF0E9; 
	border-radius: 6px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-inline: 15px;
	gap: 60px;
	flex-wrap: wrap;



}

.get-started__item {

	text-align: left;
	flex-basis: 248px ;
	/* padding-block-start: 75px; */
	/* flex-shrink: 0; */
	


}


.get-started__item--text{
	/* transform: translateY(-75px); */
/* position: relative;
top: -75px; */
margin-block-start: -130px;
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 13px;
flex-wrap: wrap;
}
.get-started__item--worker{
	/* position: relative;
		top: -60px; */
		margin-block-start: -60px;
		position: relative;
}

@keyframes puls {
	0%{
		transform: scale(1);
	}
100% {
		transform: scale(1.1);
		}
	}



.gift-box-star{
	animation: puls 1.5s linear 0s infinite reverse forwards;
	max-width: 148px;
	max-height: 148px;
	
	/* position: relative;
	top: -75px; */
	/* transform: translateY(-75px); */
}
/* .gift-box-star--margin{
	margin-bottom: 13px;
} */

/* .label--get-started{
margin-bottom: 13px;
} */

.subtitle-portfolio{
color:#391400;
font-size: 24px;
font-weight: 700;
line-height: 32px;
text-transform: capitalize;


}
.subtitle-portfolio--margin{
margin-bottom: 23px;
}

.button-color {
	padding: 18px 32px;
	border-radius: 6px;
	background-color: #EF6D58;
	color: #fff;
	font-size: 14px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	text-transform: uppercase;
	transition: 0.3s ease-in-out;
}
.button-color:hover{
	background-color: #391400;
}

.chart{
	max-width: 338px;
	max-height: 192px;
}

.worker{
	max-width: 239px;
	max-height: 396px;
	/* transform: translateY(-60px); */
	position: relative;
	z-index: 2;
	
}
/* .worker:after{
	content: '';
	width: 282px;
	height: 242px;
	font-size: 100px;
	background: url("../img/get-started/cloud.svg") center  no-repeat;
} */

.get-started__cloud-wrap{
	max-width: 239px;
	position: absolute;
	right: 60px;
	bottom: 47px; 
	
}

/*========= блок  EVENTS ========== */
.events--margin{
	margin-bottom: 140px;
}



.events__cards {
		color: #FFF;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: space-between;
}
.events__cards--margin{
	margin-bottom: 64px;
}

.card-event {
	border-radius: 6px;
	border:1px solid #3A3C56;
	padding: 40px;
	text-align: left;
	flex-basis: 370px ;


	/* flex в середині картки */
	display: flex;
	flex-direction: column;
	gap: 77px;
	transition: 0.35s ease-in-out;
}


.card-event:hover {
	transform: scale(1.05);
	box-shadow: 0 0 5px whitesmoke;
}

.card-event__top {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.card-event__top--margin{

}
.card-event__top::after{
	content: '';
	height: 1px;
	max-width: 290px;
	background-color:#3A3C56;
	transform: translateY(36px);

}


.date {
	display: flex;
	gap: 12px;
	align-items: center;
}

.day {

		font-size: 72px;
		font-weight: 800;
		line-height: 80px;
		letter-spacing: -2px;
}

.month {
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	
	flex-basis: 127px ;
}

.time {
	display: flex;
	gap: 8px;
	align-items: center;
}

.time img{
	max-width: 16px;
}

.card-event__bottom {}

.card-event__bottom>h4{
		font-size: 24px;

		font-weight: 700;
		line-height: 32px;
	margin-bottom: 19px;
}


.card-event__bottom>p{
	color:  rgba(255, 255, 255, 0.64);
	font-weight: 400;
	line-height: 32px;
	margin-bottom: 26px ;
}

.card-event__bottom>a{
	line-height: 32px;
	transition: 0.35s;
}
.card-event__bottom>a:hover {
	box-shadow: 01px 0px 15px rgba(220, 178, 10, 0.57);

}

/* =======  OUR TEAM ======*/

.our-team--margin{
	margin-bottom: 180px;
}
.designers {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: space-between;
}
.designers--margin{
	margin-bottom: 52px ;
}
.designers__item{
	flex-basis: 270px;
	transition: 0.35s ease;
}
.designers__item:hover {
	transform: scale(1.05);
	box-shadow: 0 0 5px whitesmoke;
}

.designers__image-wrap{
	/* padding-block-start: 38px; */
	width: 100%;
	min-height: 272px;
	border-radius: 6px;
	outline: 1px solid #3A3C56;
	margin-bottom: 26px;
	
	display: flex;
	align-items: flex-end;
	justify-content: center;

}

.designers__image-wrap>img{
	max-width: 100%;

}

.description-card{
	text-align: left;
	/* font-size: 0; */
}

.description-card>h4 {
color:  #FFF;
font-size: 24px;
font-weight: 700;
line-height: 32px;
}

.description-card>p {
color:  rgba(255, 255, 255, 0.64);
	line-height: 32px;
	/* font-size: 16px; */

}

.pins{
	display: flex;
	gap: 20px;
	justify-content: center;
}

.pin{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 1px solid #4E4F6E;
}

.pin:hover{
	background-color: #EF6D58;
	transform: scale(2);
}

/* =======Блок QUOTE ======*/

/* .author-image::before{
	content: '';
	max-width: 570px; 
	max-height: 448px;
	background: url("../img/shape-photo-quote.svg") 0 0 / auto no-repeat;
} */
.quote {}

.quote__container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	column-gap: 130px;
	row-gap: 30px;
}

.quote__image-wrapper {
	border-radius: 6px;
	flex-basis: 570px;
	min-height: 448px;
	position: relative;

	display: flex;
	justify-content: center;
	
	align-items: flex-end; 


}

.author-shawow {
	position: absolute;
	/* flex-basis: 570px; */
}

.author-image {
	position: relative;
	max-width: 100%;
	height: 420px;
}
.quote__content{
	flex-basis: 470px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	align-items: flex-start; }

.quote__content>h3{
	color:  #FFF;
	font-size: 40px;
		font-weight: 800;
		line-height: 48px;
		text-align: left;
		margin-bottom: 44px;
		position: relative;
		z-index: 1;
}

.quote-icon{
	max-width: 100px;
	max-height: 80px;
	position: absolute;
	top: -56px;
	right: 46px;
	z-index: -1;
}


.author {
	color: var(--Text_Light, #FFF);
		font-size: 20px;
		line-height: 32px;
		/* 160% */
}
.quote__text{
	color: rgba(255, 255, 255, 0.64);
		font-size: 14px;
		line-height: 24px;
		/* 171.429% */
}