/* Підключення шрифтів */

/* підключення через сайт  fonts.google.com/*/
/* manrope regular */
/* @import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
/* manrope semibold */
/* @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap");
/* manrope medium */
/* @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");
/* manrope bold */
/* @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");  

/* підключення через плагін GOOGLE в css import */

@import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700&display=swap");


/* Підключення шрифтів локально */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

/* Основні стилі */
body {
	font-family: "Manrope", sans-serif;
	color: #999;
	font-size: 18px;
}


.wrapper {
	min-height: 100%;
	overflow: clip;
	/* hidden*/
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex-grow: 1;
	
}

/* ------------------------------- */
[class*="__container"] {
	max-width: 1630px;
	margin: 0 auto;
	padding-inline: 15px;

	/* overflow: hidden; */
}

.main-title{
	color:  #FFF;
		font-family: 'Manrope', sans-serif;
		font-size: 40px;
		font-style: normal;
		font-weight: 700;
		line-height: 150%;
		text-align: center;

}


		@media (any-hover: hover) {
			.link:hover {
				color: green;

				background-color: aqua;
			}
		}