/* Підключення шрифтів */

/* підключення через сайт  fonts.google.com/*/
/* manrope regular */
/* @import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
/* manrope semibold */
/* @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap");
/* manrope medium */
/* @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");
/* manrope bold */
/* @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");  

/* підключення через плагін GOOGLE в css import */

@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,800,900&display=swap");

/* Підключення шрифтів локально */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

/* Основні стилі */
body {
	font-family: "Epilogue", sans-serif;
	color: #fff;

	background-color: #28293E;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	
}


.wrapper {
	min-height: 100%;
	overflow: clip;
	/* hidden*/
	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;

}

/* ------------------------------- */
[class*="__container"] {
	max-width: 1200px;
	margin: 0 auto;
	padding-inline: 15px;

	/* overflow: hidden; */
}

.header__container{
	text-align: right;
}
.main-title {
	font-size: 40px;
	font-weight: 700;
	line-height: 150%;
	text-align: center;

}


.work {
	padding-block: 46px 96px;
}

.work__container {}

.work__section-heading {
	
}

.section-heading {
	
	padding-block: 48px 34px;
	text-align: center;
}
.section-heading__lable{
	color: var(--Text_Light_Accent, #EF6D58);
text-align: center;
line-height: 32px; /* 200% */
letter-spacing: 3px;
text-transform: uppercase;

}
.section-heading__lable:not(:last-child) {
	margin-bottom: 20px;
}

.section-heading__title{
	text-align: center;
		font-size: 56px;
		font-style: normal;
		font-weight: 800;
		line-height: 64px;
		
		letter-spacing: -1px;
}

.section-heading__title:not(:last-child) {
	margin-bottom: 44px;
}

.section-heading__tabs:not(:last-child) {
	margin-bottom: 68px;
}
.tabs {
	max-width: 574px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	gap: 46px;
	flex-wrap: wrap;
}

.tabs:not(:last-child) {
	margin-bottom: 34px;
}
.tabs__item {
color: rgba(255, 255, 255, 0.64);
line-height: 32px;
position: relative;
}

.tabs__item--active {
	color: #fff;
}

.tabs__item sup{
	font-size: 14px;
	line-height: 24px;
	color:rgba(255, 255, 255, 0.64);
	text-align: center;
	display: inline-block;
	transform: translateY(-7px);
}

.tabs__item::before,
.menu__item::before {
	content: "";
	width: 92%;
	height: 3px;
	background-color: #fff;
	transform-origin: center;
	transition: 0.3s;
	transform: scaleX(0);
	position: absolute;
	bottom: 2px;
	left: 0;
}

/* .tabs__item:hover::before,
.menu__item:hover::before{
	transform: scaleX(1);
} */

.drop-tabs{
	display: none;
}

.work__cards {}

.cards {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
}

.work__cards:not(:last-child){
	margin-bottom: 64px;
}

.cards__item {
	min-height: 416px;
	padding: 52px 48px;
	position: relative;
	border-radius: 6px;
	overflow: hidden;
	aspect-ratio: 470 / 416;
	
	/* flex: 0 1 470px; */
	flex-basis: 40.1%;
	/* flex: 1 0 40.171%; */

	display: flex;
	align-items: flex-end;

		
}
.cards__item::before {
	content: "";
	width: 100%;
	height: 100%;
	border-radius: 6px;
	opacity: 0.3181;
	background-color: #5C2000;
	will-change: transform;
	transition: 0.35s;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
} 

/* .cards__item:hover::before {
	transform: scale(0);
} */

.cards__item:nth-child(4n+2),
.cards__item:nth-child(4n+3){
	aspect-ratio: 670 / 416;
	/* flex: 0 1 670px; */
	flex-basis: 57.1%;
	/* flex: 1 1 57.265%; */
}

.cards__image{
	border-radius: 6px;
	width: 100%;
	height: 100%;
	
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	
}

.cards__description{
	
	display: flex;
	flex-direction: column;
	gap: 23px;
	position: relative;
	z-index: 3;
	flex-grow: 1;
	
}


.cards__lable {
	color: #391400;
	line-height: 32px;
	padding: 5px 15px 1px 16px;
	border-radius: 19px;
	background-color: #fff;
	width: fit-content;
}

.cards__title {
	font-size: 40px;
	font-weight: 800;
	line-height: 48px;

}

.cards__title--upper,
.charts__title--upper,
.grid-cards__title--upper {
	text-transform: uppercase;
}
.button{
	margin: 0 auto;
	
	font-size: 14px;	
	font-weight: 900;
	line-height: normal;
	text-transform: uppercase;
	display: block;
	width: fit-content;
	padding: 18px 30px 16px 31px;
	border-radius: 6px;
	border: 1px solid rgba(255, 255, 255, 0.30);
	transition: 0.35s;
	will-change: color;
	
}

/* .button:hover{
	background-color: #fff;
	color: #28293E;
} */

@media (max-width: 1100px){
	.cards{
		gap: 15px;
	}
}

@media (max-width: 955px) {
	.cards__item {
		flex-basis: 48%;
	}
	
	.cards__item:nth-child(4n+2),
	.cards__item:nth-child(4n+3) {
		flex-basis: 48%;
			aspect-ratio: 470 / 416;
	
		}
	}
@media (max-width: 716px) {
	.cards__item {
	flex-basis: 98%;
	}
		
	.cards__item:nth-child(4n+2),
	.cards__item:nth-child(4n+3) {
	flex-basis: 98%;
	}
	.tabs {
		gap: 25px;
}
}

@media (max-width:501px){
.tabs{
	display: none;
}
.drop-tabs{
	display: block;
	width: 100%;
	color: rgba(57, 20, 0, 0.64);
	font-family: "Epilogue", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
	padding-block: 9px 7px;
	padding-inline-start: 16px;
	border-radius: 6px;
	}
}





/* ============================================== */

/* work секція створена за допомогою GRID */

.work-grid__cards:not(:last-child){
	margin-bottom: 64px;
}

.grid-cards{
	display: grid;
	gap: 30px;
	/* grid-template-columns: minmax(200px, 470px) minmax(0px, 170px) minmax(200px, 470px); */
	
	/* grid-template-columns: 1fr 0.175fr 1fr; */
	grid-template-columns: minmax(329px, 1fr) minmax(0px, 170px) minmax(329px, 1fr);
	grid-auto-rows: 416px;
	
	
}
.grid-cards__item{
	/* aspect-ratio: 470 / 416;
	object-fit: contain; */
	border-radius: 6px;

	position: relative;
	padding: 52px 48px;
	display: flex;
	align-items: flex-end;
	
}

.grid-cards__item::before {
	content: "";
	width: 100%;
	height: 100%;
	border-radius: 6px;
	opacity: 0.3181;
	background-color: #5C2000;
	transition:transform 0.5s;
	transform-origin: top left;
	will-change: transform;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

/* .grid-cards__item:hover::before {
	transform: scale(0);
} */


.grid-cards__item:nth-child(4n+2),
.grid-cards__item:nth-child(4n+3) {
	grid-column: span 2;
	/* aspect-ratio: 670 / 416;
	object-fit: contain; */
}

.grid-image-wrap{
	max-width: 100%;
	height: 100%;

}

.grid-cards__item img{
	width: 100%;
	height: 100%;
	aspect-ratio: 470 / 416;
	object-fit: cover;
	border-radius: 6px;
	position: absolute;
	top: 0;
	left: 0;
	

}

/* .grid-cards__item:nth-child(4n+2) img,
.grid-cards__item:nth-child(4n+3) img{
	aspect-ratio: 670 / 416;
	object-fit: contain;
} */




.grid-cards__description{
	display: flex;
	flex-direction: column;
	gap: 23px;
	position: relative;
	z-index: 3;
	flex-grow: 1;

}
.grid-cards__label,
.charts__label {
	color: #391400;
	line-height: 32px;
	padding: 5px 15px 1px 16px;
	border-radius: 19px;
	background-color: #fff;
	width: fit-content;
}

.grid-cards__title,
.charts__title {
font-size: 40px;
	font-weight: 800;
	line-height: 48px;
}

.menu{
	max-width: 574px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	gap: 46px;
	flex-wrap: wrap;
}
.menu:not(:last-child) {
	margin-bottom: 34px;
}

.menu__item {
	color: rgba(255, 255, 255, 0.64);
	line-height: 32px;
	position: relative;
}

.menu__item--active {
	color: #fff;
}

.menu__item sup {
	font-size: 14px;
	line-height: 24px;
	color: rgba(255, 255, 255, 0.64);
	text-align: center;
	display: inline-block;
	transform: translateY(-7px);
}

.burger-btn{
display: none;
}


@media (max-width: 730px) {
	.grid-cards {
		gap: 15px;
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr))
	}
		.grid-cards__item:nth-child(4n+2),
		.grid-cards__item:nth-child(4n+3) {
			grid-column: span 1;
			/* aspect-ratio: 670 / 416;
		object-fit: contain; */
		}
.menu{
	gap: 20px;
}
}


/* бургер меню */

@media (max-width: 482px) {
	.open-menu body {
			overflow: hidden;
		}

	.section-heading__title:not(:last-child) {
		margin-bottom: 0px;}

.burger-icon {
	/* position: absolute;
	right: 0;
	bottom: 0; */
	border: 2px solid #fff;
	padding: 5px;
	box-shadow: 0 0 15px #350909;
	display: flex;
	flex-direction: column;
	gap: 5px;
	position: sticky;
	top: 10px;
	left:  100%;
	z-index: 5;

	}
.burger-icon--margin{
	margin-bottom: 15px;
}

.burger-icon span,
.burger-icon::before,
.burger-icon::after {
	content: '';
	width: 30px;
	height: 5px;
	background-color: #fff;
	border-radius: 1px;
	text-align: left;
	transition: 0.4s;
	will-change: transform;

}

.open-menu .burger-icon span{
transform: scale(0);
}

.open-menu .burger-icon::before{
	
	transform: rotate(135deg) translateX(7px) translateY(-8px);
}

.open-menu .burger-icon::after {
	transform: rotate(-135deg) translateX(6px) translateY(7px);

}




.menu{
	display: none;
}

/* .section-heading__menu-body{
	display: none;
	
} */
.open-menu .menu{
	display: flex;
	flex-direction: column;
	font-size: 26px;


}
.open-menu .section-heading__menu-body {
	display: block;
	position: fixed;
	z-index: 5;
	inset-inline-start: 100%;
	inset-block-start: 0;
	inline-size: 100%;
	block-size: 100%;
	transition:all 0.5s;
	overflow: auto;
	padding: 15px 30px;

}




.section-heading__menu-body::before {
	content: "";
	inline-size: 100%;
	inset-inline-start: 100%;
	inset-block-start: 0;
	z-index: 3;
	background-color: #28293E;
	transition: all 0.35s;
}

.open-menu .section-heading__menu-body,
.open-menu .section-heading__menu-body::before {
	inset-inline-start: 0;
	background-color: #28293E;

	
}
		
}

.page-link{

	padding-block: 15px;
	font-size: 35px;
	font-style: italic;
	text-align: right;
	transition: 0.35s;
	}

/* =============================== */



/* ==========================================*/
/* Стилі для сторінки PORTFOLIO */
.portfolio{
	background-color: #FDF0E9;
	padding-block: 34px 66px;
}
.portfolio__section-heading .tabs__item,
.portfolio__section-heading .tabs__item sup{
	color:  rgba(57, 20, 0, 0.64);
		
}

.portfolio__section-heading{
	padding: 0;
}
.portfolio__section-heading .tabs__item--active{
	color: #391400;
}

.charts{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 30px;
}

.portfolio__charts:not(:last-child){
	margin-bottom: 80px;
}

.charts__item:first-child{
	grid-column: span 2;
	min-height: 720px;
	padding: 48px;
}

.charts__item:first-child .charts__title{
font-size: 56px;
font-weight: 800;
line-height: 64px;
letter-spacing: -1px;
}

.charts__item:first-child img{
	border-radius: 6px;
	width: 100%;
	height: 100%;
	aspect-ratio: 1170 / 720;
	object-fit: cover;
}

.charts__item{
position: relative;
padding: 52px 48px;
min-height: 416px;

display: grid;
grid-template-rows: repeat(2, 1fr);
align-items: end;


}


.charts__item img {
	border-radius: 6px;
	width: 100%;
	height: 100%;
	aspect-ratio: 570 / 416;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}

.charts__description{
	position: relative;
	display: grid;
	gap: 24px;
}

.charts__item::before{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	border-radius: 6px;
	opacity: 0.3181;
	background: #5C2000;
	transition: 0.35s;
	transform-origin: right;
}

@media (max-width: 730px) {
	.charts {
		gap: 15px;
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr))
	}

	.charts__item:first-child {
		grid-column: span 1;
		min-height: 416px;
	
	}

		.charts__item:first-child .charts__title {
			font-size: 40px;
			font-weight: 800;
			line-height: 48px;
		
		}
	.portfolio__charts:not(:last-child) {
					margin-bottom: 30px;
				}
}

.pagination{

	counter-reset: list-counter;


	display: grid;
	grid-template-columns: repeat(auto-fit, 48px);
	gap: 8px;
	justify-content: center;
	
	
}

.pagination__point::before{
	counter-increment: list-counter;
	
	content: counter(list-counter)"";
	display: inline-block;
	color: #391400;
	text-align: center;
		font-size: 14px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	text-transform: uppercase;
	padding: 18px 19px 16px 19px;
	background-color: #FFF;
	box-shadow: 0px 3px 9px 0px rgba(57, 20, 0, 0.08);
	border-radius: 6px;
	transition: 0.35s;

}
.pagination__point--active::before {
	content: counter(list-counter)"";
	width: 100%;
	height: 100%;
	background-color: rgba(239, 109, 88, 1);
	color: #FFF;
	
}
/* .pagination__point{
	border-radius: 6px;
	background-color: #FFF;
	box-shadow: 0px 3px 9px 0px rgba(57, 20, 0, 0.08);
	
} */



/* ================================= */

@media (any-hover: hover) {

	.tabs__item:hover::before,
	.menu__item:hover::before {
		transform: scaleX(1);
	}

	.cards__item:hover::before,
	.charts__item:hover::before {
		transform: scale(0);
	}

	.cards__item:hover::before {
		transform: scale(0);
	}

	.grid-cards__item:hover::before {
		transform: scale(0);
	}

	.page-link:hover {
		text-decoration: underline;
		color: green;
	}

	.pagination__point:hover::before{
		background-color: #c28181;
	}
}