/* Підключення шрифтів */

/* підключення через сайт  fonts.google.com/*/
/* manrope regular */
/* @import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
/* manrope semibold */
/* @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap");
/* manrope medium */
/* @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");
/* manrope bold */
/* @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");  

/* підключення через плагін GOOGLE в css import */
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700,800&display=swap"); 

@import url("https://fonts.googleapis.com/css?family=Epilogue:100,200,300,regular,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Comic+Neue:300,300italic,regular,italic,700,700italic&display=swap");

@import url("https://fonts.googleapis.com/css?family=Rubik+Bubbles:regular&display=swap");

@import url("https://fonts.googleapis.com/css?family=Doto&display=swap");



/* Підключення шрифтів локально */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

/* Основні стилі */
body {
		/* background-color: #141414; */
	/* background-color: #777; */
}


.wrapper {
	min-height: 100%;
	overflow: clip;
	/* hidden*/
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex-grow: 1;
	
}

header{
	background-color: #141414;
}

[class*="__container"] {
	max-width: 1630px;
	margin: 0 auto;
	padding-inline: 15px;

	/* overflow: hidden; */
}

.main-title{
	color:  #FFF;
		font-family: 'Manrope', sans-serif;
		font-size: 40px;
		font-style: normal;
		font-weight: 700;
		line-height: 150%;
		text-align: center;

}

.link-lesson{
	color: #FFF;
		font-family: 'Manrope', sans-serif;
		font-size: 30px;
		font-style: normal;
		font-weight: 700;
		line-height: 150%;
		text-align: center;
		position: relative;	
		transition: 0.35s;
		padding-block: 20px;
}


.link-lesson::before {
	content: "";
	position: absolute;
	top: 75%;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #e50000;
	transform: scaleX(0);
	transition: transform 0.5s;
	will-change: transform;
	transform-origin: right;
}

/* .link-lesson:hover::before {
	transform: scaleX(1);
	transform-origin: left;
	box-shadow: 2px 3px 15px #fff;
} */


.movies {
	/* max-width: 100%; */
	background-color: #141414;

}



.must {

}

.must--margin{
	margin-bottom: 150px;
}

.must__container {
	border-radius: 12px;
		border: 5px solid #262626;
margin: 0 auto;
padding: 50px;
}

.subtitle-movies-wrap {
	display: flex;
justify-content: space-between;
align-items: center;	
flex-wrap: wrap;
gap: 15px;
}

.subtitle-movies-wrap--margin{
	margin-bottom: 50px;
}

.subtitle-movies {
	color: #FFF;
	font-family: 'Manrope', sans-serif;
	font-size: 38px;
	font-style: normal;
	font-weight: 700;
	line-height: 150%;
	text-transform: capitalize;

}

.slider {
	padding: 16px;
border-radius: 12px;
border: 1px solid #1F1F1F;
background-color:#0F0F0F;

	display: inline-flex;
	align-items: center;
	gap: 16px;
	
}

/* .slider img{
	
	width: 28px;
	

}  */

.arrow--slider {
	padding: 14px;
	border-radius: 8px;
	border: 1px solid  #1F1F1F;
	background-color:  #1A1A1A;
	box-sizing: content-box;
	width: 28px;
	height: 28px;
}

.arrow--slider:active {

	background-color: #e50000;
}

.slider> .arrow:first-child {
	transform: rotate(180deg);
}

.slider__points{
	display: flex;
	gap: 3px;
}

.slider__point {
width: 16px;
height: 4px;
	border-radius: 100px;
	background-color:#333;
}


.slider__point:active{
border-radius: 100px;
background-color: #e50000;
width: 23px;
height: 4px;

}


.must__cadrs {
	max-width: 1500px;
	margin: 0 auto;

	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: space-between;
}

.must__card {
	padding: 20px;
	border-radius: 12px;
	border: 1px solid  #262626;
	background-color: #1A1A1A;
	transition: 0.5s linear;

/* flex-basis: 360px; */
	flex: 0 1 calc(100% / 4 - ((20px * 3) / 4));
	display: flex;
	flex-direction: column;
	gap: 20px;
	/* align-items: center; */
}

.must__picture{
	align-self: center;
}
/* .must__img-wrap {
border-radius: 12px;

} */

.image-must {
	width: 100%;
	
	border-radius: 12px;
	border: 1px solid #000;
		max-width: 320px;
	object-fit: cover;
	aspect-ratio: 320 / 420;
}

.must__rate {
	display: flex;
	justify-content: space-between;
	
	/* align-items: center; */
	flex-wrap: wrap;
	gap: 5px;

}

.must__time {
padding: 6px 10px 6px 6px;
border-radius: 51px;
border: 1px solid  #262626;
background-color:  #141414;

	display: flex;
	justify-content: space-between;
	gap: 2px;
}

.clock-icon{
	width: 24px;
	height: 24px;
}

.time-text {
	color:  #999;
		font-family: 'Manrope', sans-serif;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 150%;
		
}

.must__star {
	padding: 6px 10px;
	border-radius: 51px;
	border: 1px solid #262626;
	background-color: #141414;
	display: flex;
	justify-content: space-between;
	gap: 2px;
	align-items: center;
}

.star-icon{
	width: 18px;
	height: 18px;
}
.must__star>.star-icon:last-of-type {
margin-right: 2px;
}

/* ============== OUR Genres ============== */

.movies-btn{
	padding: 10px 24px;
	border-radius: 8px;
	background-color: #e50000;
	transition: 0.35s;

	color:  #FFF;
	text-align: center;
	font-family: 'Manrope', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%;
	/* transform: translateY(-70px); */
	position: absolute;
	top: -20px;
	z-index: 2;

	
}

.genres__container{
	padding: 50px;
	border-radius: 12px;
	border: 1px solid#262626;
	position: relative;	
	z-index: 1;
}

.genres__cards {
	/* max-width: 1500px;
	margin: 0 auto; */

	display: flex;
	justify-content: space-between;
	gap: 30px;
	flex-wrap: wrap;
	align-items: flex-start;
	
}

.genres__card{
padding: 30px;
flex-basis: 275px;
border-radius: 12px;
border: 1px solid  #262626;
background-color:#1A1A1A;
transition: 0.35s linear;
/* 
display: flex;
flex-direction: column;
flex-wrap: wrap; */

}
.posters {
	transition: 0.5s linear;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 5px;

}

.posters::before{
	content: '';
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, rgba(26, 26, 26, 1) 0%, rgba(26, 26, 26, 0) 100%);
	position: absolute;
	transition: 0.5s linear;

}

.posters__wrap {

flex-basis: calc(50% - 2.5px); 

aspect-ratio: 105 / 123;
border-radius: 10px;
border: 1px solid #000;
overflow: hidden;
}

.posters__image{
	width: 100%;
	height: 100%;
}



.genres__label {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	align-items: 	center;
	}

/* .label {
	color: #FFF;
		font-family: 'Manrope', sans-serif;
		font-size: 18px;
		font-style: normal;
		font-weight: 600;
		line-height: 150%;

		display: flex;
		justify-content: space-between;
		align-items: center;
} */

/* .label::after{
	content: '';
	width: 30px;
	height: 30px;
	background: url("../img/movies/icon/arrow-icon.svg") 0 0 / 100% no-repeat;
} */



.arrow--genres {
	width: 30px;
	height: 30px;
	transition: 0.35s ease-in;
}


.label {
	color: #FFF;
		font-family: 'Manrope', sans-serif;
		font-size: 18px;
		font-style: normal;
		font-weight: 600;
		line-height: 150%;

		transition: 0.35s ;
}


@media (any-hover: hover) {
		.movies-btn:hover,
		.genres__card:hover,
		.must__card:hover,
		.arrow--slider:hover{
			
				box-shadow: 0 0 10px #FFF;
			}

		.label:hover{
			color: #e50000;
		}
		.arrow--genres:hover{
			transform: skew(-15deg) translateX(5px);
			
		}
		
			/* .genres__card:hover {
				box-shadow: 0 0 10px #FFF;
			} */

		.genres__card:hover > .posters::before{
			display: none;
	}

		.link-lesson:hover::before {
			transform: scaleX(1);
			transform-origin: left;
			box-shadow: 2px 3px 15px #fff;
		}
}


.movies-btn:active,
.genres__card:active,
.must__card:active{

	box-shadow: 0 0 10px lightpink;
}

@media (max-width: 1230px) {
	.must__card {
		flex: 0 1 calc(100% / 3 - ((20px * 2) / 3));
		/* Зменшуємо кількість карток на рядку до 3 для екрану меншого розміру */
	}
	.must__cadrs{
		justify-content: center;
	}
	
}


@media (max-width: 932px) {
	.must__card {
		flex: 1 1 calc(100% / 2 - ((20px * 1) / 2));
		/* Зменшуємо кількість карток на рядку до 2 для ще меншого екрану */
		
	}
		/* .must__rate {
			justify-content: center;
		}
		 */
}

/* @media (max-width: 520px) {
	.must__rate {
			justify-content: space-between;
		}

	} */


/* +======================================== */

@media (max-width:1599.98px) {
	.genres__container{
		padding: 31px;
	}
	.genres__cards{
		gap:15px;
	}
}

@media (max-width:1499.98px) {
	.genres__container {
		padding: 40px;
	}
		.genres__cards {
			justify-content: center;
			gap: 30px;
		}

	.genres__card{
		flex: 1 0 calc((100% / 4 - ((20px * 3) / 4)));
	}	

}

@media (max-width:767.98px) {
		.genres__card {
		flex: 1 0 calc((100% / 3 - ((20px * 2) / 3)));
}
}